<!doctype html>
<html lang="ru">

<head>
  <head th:insert="blocks/head :: head"></head>
</head>

<body class="bg-light">

<header th:insert="blocks/header :: header"></header>

<div class="container">
  <main>
    <div class="py-3 text-center">
<!--      <img class="d-block mx-auto mb-4" src="https://icons.getbootstrap.com/assets/icons/box-arrow-in-down.svg" alt="" width="72" height="57">-->
      <h2>Добавление товара</h2>
      <!-- <p class="lead">Заполните поля и нажминте кнопку Добавить</p>-->
    </div>

    <div class="row g-5">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
          <div class="row g-3">

            <div class="col-12">
              <label  class="form-label">Наименование</label>
              <input type="text" name="name" class="form-control" placeholder="Введите имя товара">
            </div>

            <div class="col-12">
              <label  class="form-label">Описание</label>
              <input type="text" name="disc" class="form-control" placeholder="Введите описание товара">
            </div>

            <div class="col-12">
              <label  class="form-label">Цена</label>
              <input type="number" name="price" class="form-control" placeholder="Введите цену товара">
            </div>

            <div class="col-12">
              <label class="form-label">Вес</label>
              <input type="number" name="weight" class="form-control" placeholder="Введите вес товара">
            </div>

            <div class="col-12">
              <label class="form-label">Файл изображения</label>
              <input type="file" name="url" class="form-control" placeholder="Ссылка на картинку">
            </div>

            <div class="col-12">
              <label class="form-label">Категория товара</label>
              <select type="text" name="type" class="form-select" >
                <option value="">Подарок</option>
                <option>Игрушка</option>
                <option>Украшение</option>
                <option>Гирлянда</option>
                <option>Ёлка</option>
              </select>
            </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Добавить товар</button>
        </form>
      </div>
    </div>
  </main>
</div>>

  <footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>
